torch==2.5.0
torchaudio==2.5.0
torchinfo==1.8.0
torchvision==0.20.0
numpy==2.0.1
scipy==1.14.1
pandas==2.2.3
Pillow==10.4.0
matplotlib==3.9.2
torchinfo==1.8.0
opencv-python==4.10.0.84
IPython==8.28.0
PyYAML==6.0.2